doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Agency - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.12.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') rakia brand
                button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Services
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#performance') Performance
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#team') Team
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .masthead-subheading Welcome To Our Studio!
                .masthead-heading.text-uppercase It's Nice To Meet You
                a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services') Tell Me More
        // Services
        section#services.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Services
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-shopping-cart.fa-stack-1x.fa-inverse
                        h4.my-3 E-Commerce
                        p.text-muted
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-laptop.fa-stack-1x.fa-inverse
                        h4.my-3 Responsive Design
                        p.text-muted
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-lock.fa-stack-1x.fa-inverse
                        h4.my-3 Web Security
                        p.text-muted
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
        // Performance
        section#performance.bg-light.page-section
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading.text-uppercase Performance
                        h3.section-subheading.text-muted
                            | Stats are also published daily in our
                            a(href='https://t.me/viperstakepool') Telegram channel
                            | .
                .row
                    // 2x3 Grid of Pool Stats
                    .col-lg-12.col-sm-12
                        .row(style='margin-bottom:30px;')
                            .col-4
                                .card.text-center
                                    .card-header
                                        h4.my-0.font-weight-normal Live Stake &#x20B3;
                                    .card-body
                                        h1#ptstake.card-title.pricing-card-title 14.27 m
                            .col-4
                                .card.text-center
                                    .card-header
                                        h4.my-0.font-weight-normal Lifetime Blocks
                                    .card-body
                                        h1#pteblocks.card-title.pricing-card-title 324
                            .col-4
                                .card.text-center
                                    .card-header
                                        h4.my-0.font-weight-normal Epoch Blocks
                                    .card-body
                                        h1#epblocks.card-title.pricing-card-title 3
                        .row(style='margin-bottom:30px;')
                            .col-4
                                .card.text-center
                                    .card-header
                                        h4.my-0.font-weight-normal Current ROS
                                    .card-body
                                        h1#ros.card-title.pricing-card-title 18.82 %
                            .col-4
                                .card.text-center
                                    .card-header
                                        h4.my-0.font-weight-normal Weekly ROS
                                    .card-body
                                        h1#ros7.card-title.pricing-card-title 14.28 %
                            .col-4
                                .card.text-center
                                    .card-header
                                        h4.my-0.font-weight-normal Monthly ROS
                                    .card-body
                                        h1#ros31.card-title.pricing-card-title 12.41 %
                        .row.mx-auto.text-center(style='margin-bottom:30px;')
                            p.col.large.text-muted
                                | Pool stats update every 60 seconds and are provided courtesy of
                                a(href='https://pooltool.io/') pooltool.io
                                | .
                                br
                                u Disclaimer:
                                |  We can only provide past performance data and do not guarantee future Return on Stake (ROS).
                    // Twitter Feed
                    //
                      <div class="col-lg-4 col-sm-12">
                      <a class="twitter-timeline" data-height="500" data-theme="dark" href="https://twitter.com/viperstakepool?ref_src=twsrc%5Etfw">Tweets by viperstakepool</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                // close row
            // close container
        // Resources
        section#resources.page-section
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading.text-uppercase Resources
                        h3.section-subheading.text-muted
                            | We've developed several resources to aid you in your ADA staking journey. Please enjoy and send us feedback!
                .row
                    .col-lg-4.portfolio-item
                        // <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                        h2.mb-4 Getting Started with Yoroi (ITN)
                        p.mb-4
                            | Step-by-step tutorial explaining how to get up and running
                            i earning real rewards
                            |  with the Yoroi wallet on the incentivized testnet (ITN).
                        p
                            a.btn.btn-secondary(href='/adapool/testnet-staking-yoroi-tutorial' role='button') View Tutorial &raquo;
                    // /.col-lg-4
                    .col-lg-4.portfolio-item
                        h2.mb-4 How to Select a Stake Pool (ITN)
                        p.mb-4
                            | A Reddit post providing details to consider when selecting a stake pool on the incentivized testnet (ITN).
                        p
                            a.btn.btn-secondary(href='https://www.reddit.com/r/cardano/comments/eenglt/how_to_choose_a_stake_pool_in_the_testnet/' role='button') View on Reddit &raquo;
                    // /.col-lg-4
                    .col-lg-4.portfolio-item
                        h2.mb-4 How Pools Take Fees (ITN)
                        p.mb-4
                            | A Reddit post describing how stake pools compute fees on the incentivized testnet (ITN).
                        p
                            a.btn.btn-secondary(href='https://www.reddit.com/r/cardano/comments/eln0fi/how_pools_take_their_fees/' role='button') View on Reddit &raquo;
                    // /.col-lg-4
        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Our Amazing Team
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/1.jpg' alt='')
                            h4 Kay Garland
                            p.text-muted Lead Designer
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/2.jpg' alt='')
                            h4 Larry Parker
                            p.text-muted Lead Marketer
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/3.jpg' alt='')
                            h4 Diana Petersen
                            p.text-muted Lead Developer
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
        // Clients
        // Contact
        section#contact.page-section
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading.text-uppercase Contact Us
                        h3.section-subheading
                            | Our primary forms of communication with delegators are listed below.
                            br
                            |                             PGP Fingerprint 779C 38B0 DDFD 8D1E F708 E420 D43C 3EC0 4EB6 9C69
                .row
                    .col-lg-4.mb-3
                        .text-center
                            a.btn.btn-primary.btn-xl.text-uppercase(href='https://t.me/viperstakepool') Join Our Telegram
                    .col-lg-4.mb-3
                        .text-center
                            a.btn.btn-primary.btn-xl.text-uppercase(href='mailto:viperstakepool@gmail.com') Email Us
                    .col-lg-4.mb-3
                        .text-center
                            a.btn.btn-primary.btn-xl.text-uppercase(href='https://twitter.com/viperstakepool') Follow on Twitter
        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-left Copyright &copy; Your Website 2020
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-right
                        a.mr-3(href='#!') Privacy Policy
                        a(href='#!') Terms of Use
        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')
        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        // Contact form JS
        // <script src="assets/mail/jqBootstrapValidation.js"></script>
        // <script src="assets/mail/contact_me.js"></script>
        // Core theme JS
        script(src='js/scripts.js')
